snippet comp React Component
	var ${1:MyComponent} = React.createClass({
	  render: function () {
	    return (
	      <div className="${2:myComponent}">
	        ${3}
	      </div>
	    );
	  }
	});
