snippet func function
	function ${1:myFunction}(${2:args}) {
	
		${2}
	
	});

snippet desc Jasmine describe
	describe("${1:after setting up this test}", function() {
	
		${2}
	
	});

snippet it Jasmine it
	it("${1:does something useful}", function() {
		${2}
	});

snippet be Jasmine beforeEach
	beforeEach(function() {
		${1}
	});
